@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  font-family: "Overpass";
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 12%, 8%);
}

#back-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  background-color: hsl(216, 12%, 8%, 0.26);
  width: 48px;
  height: 48px;
  font-family: "Overpass";
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: auto;
  padding: 30px;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Overpass";
  background-color: hsl(213, 19%, 15%);
  z-index: 1;
  position: relative;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.5s;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass";
  margin-bottom: 15px;
}

p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Overpass";
  line-height: 22px;
  color: hsl(216, 12%, 54%);
}

.rates {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 22px;
  row-gap: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 8%, 0.26);
  width: 50px;
  height: 50px;
  font-family: "Overpass";
  font-size: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding-top: 5px;
  transition: 0.5s;
}

.rates div:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(217, 12%, 63%);
  transition: 0.5s;
}

#btn-submit {
  background: hsl(25, 97%, 53%);
  color: white;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Overpass";
  transition: 0.5s;
}

#btn-submit:hover {
  color: hsl(25, 97%, 53%);
  background-color: white;
}

.thanks-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 30px;
  border-radius: 20px;
  font-family: "Overpass";
  background-color: hsl(213, 19%, 15%);
  position: absolute;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.5s;
  z-index: 2;
}

#what-rated {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: hsl(216, 12%, 8%, 0.26);
  padding: 10px 20px 8px 22px;
  border-radius: 30px;
  margin-top: 20px;
}

.thanks-container h2 {
  font-size: 15px;
  font-weight: 400;
  color: hsl(25, 97%, 53%);
  font-family: "Overpass";
}

.thanks-container h1 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass";
  margin-bottom: 15px;
}

.thanks-container p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Overpass";
  line-height: 22px;
  color: hsl(216, 12%, 54%);
  text-align: center;
}

.hidden {
  display: none;
}

.attribution {
  padding-top: 10px;
  font-size: 11px;
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: hsl(217, 12%, 63%);
}

.attribution a {
  color: hsl(217, 12%, 63%);
  text-decoration: none;
}

a:visited {
  color: hsl(217, 12%, 63%);
  text-decoration: none;
}

a:hover {
  color: hsl(25, 97%, 53%);
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  #back-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: hsl(216, 12%, 8%, 0.26);
    width: 48px;
    height: 48px;
    font-family: "Overpass";
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 330px;
    height: 380px;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    font-size: 18px;
    font-family: "Overpass";
    background-color: hsl(213, 19%, 15%);
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
    z-index: 1;
  }

  h1 {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-family: "Overpass";
    margin-bottom: 15px;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    font-family: "Overpass";
    line-height: 22px;
    color: hsl(216, 12%, 54%);
  }

  .rates {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 8px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 12%, 8%, 0.26);
    width: 45px;
    height: 45px;
    font-family: "Overpass";
    font-size: 15px;
    cursor: pointer;
    padding-top: 5px;
    transition: 0.5s;
  }

  .rates div:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 12%, 63%);
    transition: 0.5s;
  }

  #btn-submit {
    background: hsl(25, 97%, 53%);
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Overpass";
    transition: 0.5s;
  }

  #btn-submit a {
    color: rgb(255, 255, 255) !important;
  }

  #btn-submit:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
  }

  #btn-submit:hover a {
    color: hsl(25, 97%, 53%) !important;
    text-decoration: none;
  }

  .thanks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Overpass";
    background-color: hsl(213, 19%, 15%);
    position: absolute;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.5s;
    z-index: 2;
  }

  #what-rated {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(216, 12%, 8%, 0.26);
    padding: 10px 20px 8px 22px;
    border-radius: 30px;
    margin-top: 20px;
  }

  .thanks-container h2 {
    font-size: 15px;
    font-weight: 400;
    color: hsl(25, 97%, 53%);
    font-family: "Overpass";
  }

  .thanks-container h1 {
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-family: "Overpass";
    margin-bottom: 15px;
  }

  .thanks-container p {
    font-size: 15px;
    font-weight: 400;
    font-family: "Overpass";
    line-height: 22px;
    color: hsl(216, 12%, 54%);
    text-align: center;
  }

  .hidden {
    display: none;
  }
}
